﻿﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="color: red">BẢNG CỬU CHƯƠNG 2->9 </p>
    <ol>
        @for (int i = 2; i <= 9; i++)
        {
            <ul>
                @for (int j = 1; j <= 10; j++)
                {
                    <li>@i x @j = @(i * j)</li>
                }
            </ul>
            <hr />
        }
    </ol>
</div>